body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh 73vh;
    grid-template-areas: "header header header"
                         "topDiv topDiv topDiv";
    gap: 10px;
    background-color: rgb(27,23,52);
    margin: 0;
    height: 100vh;
    
}
header{
    position: relative;
    top:5%;
    grid-area: header;
    text-align: center;
    height: 100%;
    background-color: rgba(92,3,140,30%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 2px black;
}

nav{
    position: fixed;
    border: 2px solid black;
    grid-area: nav;
    text-align: center;
    justify-content: start;
    width: 25vw;
    height: 69.5vh;
    box-shadow: 0px 0px 20px black;
    top: 12.5vh;


}
main{
    position: absolute;
    border: 2px solid black;
    grid-area: main;
    height: 95.5%;
    width: 45%;
    left: 27.5%;
    top:2%;
    box-shadow: 0px 0px 20px black;
    text-align: center;
    
}

aside{
    position:fixed;
    border: 2px solid black;
    grid-area: aside;
    text-align: center;
    width: 25vw;
    height: 69.5vh;
    top: 12.5vh;
    left: 74.5%;
    box-shadow: 0px 0px 10px black;
}
.mainContainer{
    width: 100%;
    height: 100%;
    margin:0 auto;
    
}
#pdfFile{
    position: relative;
    height: 90%;
    width: 78.45%;
    border-radius: 5px;
    overflow: hidden;
    top:2%;
   
}
#topDiv{
    background-color: rgba(66,2,100,30%);
    width: 100%;
    height: 100%;
    
    grid-area: topDiv;
    position: relative;
}