*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--main-font);
    color:var(--color);
    outline: none;
    border: none;

}

:root{
    --border-color:rgb(112, 112, 112);
    --main-color: rgb(30, 30, 30);
    --secondary-color: rgba(51, 51, 51, 0.6);
    --main-font: "bebas Neue";
    --color: rgba(184, 184, 184, 0.89);
    --after-width: 0%
}
::after{
    width: var(--after-width);
}
html{
    font-size: 70%;
    
    
}
body{
    background-color: var(--main-color);
    
}
.headerContainer{
    z-index: 100;
    position: fixed;
    background-color: var(--secondary-color);
    backdrop-filter: blur(70%);
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
.name{
    
    position: relative;
    left: -5vw;
    font-size: 3rem;
    border-bottom: 2px solid white;
    transition:all 0.5s;
    text-shadow: 2px 0px var(--secondary-color),-2px 0px var(--secondary-color),1px 1px var(--secondary-color),
    -1px -1px var(--secondary-color),-1px 1px var(--secondary-color),1px -1px var(--secondary-color);
    
}

.name:hover{
    border-color: var(--main-color);
    transform: scale(1.1);
    color:rgb(88, 87, 87);
    text-shadow: 2px 0px var(--secondary-color),-2px 0px var(--secondary-color),1px 1px var(--secondary-color),
    -1px -1px var(--secondary-color),-1px 1px var(--secondary-color),1px -1px var(--secondary-color);
}

.name:hover span{
    color:var(--color);
    text-shadow: 2px 0px var(--secondary-color),-2px 0px var(--secondary-color),1px 1px var(--secondary-color),
    -1px -1px var(--secondary-color),-1px 1px var(--secondary-color),1px -1px var(--secondary-color);
}
.name span{
    color:rgb(88, 87, 87);
    
    transition: all 0.5s;
}
.navContainer{
    position: relative;
    display:flex;
    right: -10vw;
    font-size: 3rem;

}
.navItem{
    border-bottom: 2px solid white;
    margin-right: 5vw;
    transition: all 0.5s,border 1s;
}
.navItem:hover{
    transform: scale(1.2);
    color:rgb(88, 87, 87);
    text-shadow: 2px 0px var(--secondary-color),-2px 0px var(--secondary-color),1px 1px var(--secondary-color),
    -1px -1px var(--secondary-color),-1px 1px var(--secondary-color),1px -1px var(--secondary-color);
    border-color: var(--main-color);


}
section{
    min-height: 100vh;
    position: relative;
    
    
}
#Home{
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#homeImg{
    position: relative;
    border-radius: 50%;
    z-index: 100
}
#homeImg img{
    width: 25vw;
    height: 50vh;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid;
    border-color: var(--secondary-color);
    transition: all 1s;
    position: relative;
    left: 2vw;
}
#homeImg img:hover{
    transform: scale(1.1);
    border-color: var(--color);
}
.nameContent{
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    width:85%;
    height: 49vh;
    background-color: var(--secondary-color);
    position: absolute;
    padding: 1vw 15vw 5vw 13vw;
    
    font-size: 15vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 0px var(--secondary-color),-2px 0px var(--secondary-color),1px 1px var(--secondary-color),
    -1px -1px var(--secondary-color),-1px 1px var(--secondary-color),1px -1px var(--secondary-color);
    z-index: 50;
    left: initial;
   right: initial;
}
#nameHome span{
    font-size: 13vh;
    color:rgb(88, 87, 87);
}
#nameHome{
    
    transition: all 0.3s;
}
#nameHome:hover{
    font-size: 13vh;
    color:rgb(88, 87, 87);
}
#nameHome:hover span{
    font-size: 15vh;
    color: var(--color);
}
#nameHome span{
    transition: all 0.3s;
}
.about{
    font-size: 20%;
}
#nameHome,#about{
    
}

.nameContent::after{
    content: '';
    position: absolute;
    height: 100%;
    border-top:2px solid rgb(88, 87, 87);
    border-bottom: 2px solid rgb(88, 87, 87);
    inset: -2px;
    transition: all 2s;
    
    
}

.hidden{
    display: none;
}

